.rolesButtons {
    background-color: #15192C;
    display: flex;
    gap: 2px;
    padding: 16px;

    .rolesButton {
        padding: 4px 10px;
        border-radius: 30px;
        border: 1px solid;
        transform: scale(0.9);
    }
}